.home__body {
    font-family: 'Roboto', sans-serif;
}

.title {
    color: lightsteelblue;
}

.welcome-text {
    font-size: 20px;
}

.welcome-text__container {
    /* background-color: aliceblue; */
}

.moreBackground__container {
    background-color: #e9ecef;
    height: 75px;
    padding: 20px 0;
}

.moreBackground__text {
    font-size: 20px;
    color: rgb(136, 136, 136);
    font-weight: bold;
}

